@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}

body {
    height: 100vh;
    background: #ccc;
}

input[type=text],
textarea,
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Arial;
}

 input[type=submit],
 button {
    width: 30%;
    background-color: #777;
    color: white;
    padding: 14px 20px;
    margin: 8px 10px 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

     input[type=submit]:hover,
     button:hover {
        background-color: #776;
    }


