﻿nav {
    background-color: #333;
    overflow: hidden;
}

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    nav ul li a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        nav ul li  a:hover {
            background-color: #ddd;
            color: black;
        }

        nav  ul li a.active {
            background-color: #4CAF50;
            color: white;
        }

#logo {
    font-family: 'Hind', sans-serif;
    text-shadow: 1px 1px 2px #c4c4c4;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10px;
}
